<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace = "fragments_Shop::header"/>

<body>
    <!-- Topbar Start -->
    <div th:replace="fragments_Shop::topbar"/>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    <div th:replace="fragments_Shop::display_Category"/>
                </nav>
            </div>
            <div class="col-lg-9">
               <div th:replace="fragments_Shop::Taskbar"/>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a th:href="@{/homePage}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop Detail</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div th:if="${ProductInfo} != null">
            <div class="row px-xl-5">
                <div class="col-lg-5 pb-5">
                    <div width="500px" height="500px">
                        <div class="carousel-inner border">
                            <div>
                                <img width="500px" height="500px" th:src = "@{'/image/' + ${ProductInfo.id}}" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 pb-5">
                    <h3 class="font-weight-semi-bold" th:text="${ProductInfo.name}"/>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1">(50 Reviews)</small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4" th:text="${ProductInfo.price}"/>
                    <p class="mb-4" th:text="${ProductInfo.description}"/>
                    <a th:href="@{'/AddProductToCart/' + ${ProductInfo.id}}" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</a>
                    <div class="d-flex pt-2">
                        <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
    <div th:if="${moreProduct} != null">
        <div class="container-fluid py-5">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
            </div>
            <div class="row px-xl-5" >
                <div class="col">
                        <div class="owl-carousel related-carousel">
                            <div th:each="product : ${moreProduct}">
                            <div class="card product-item border-0">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100" th:src = "@{'/image/' + ${product.id}}" alt="">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3" th:text="${product.name}"/>
                                    <div class="d-flex justify-content-center">
                                        <h6 th:text="${product.price - 3}"/><h6 class="text-muted ml-2"><del><div th:text="'$' + ${product.price}"/></del></h6>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between bg-light border">
                                    <a th:href="@{'/viewDetail/' + ${product.id}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                    <a th:href="@{'/addFavoriteProduct/' + ${product.id}}" class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary mr-1"></i>Save Favorite</a>
                                    <a th:href="@{'/AddProductToCart/' + ${product.id}}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products End -->


    <!-- Footer Start -->
    <div th:replace="fragments_Shop::footer"/>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/shoppingPage/lib/easing/easing.min.js}"></script>
    <script th:src="@{/shoppingPage/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!-- Contact Javascript File -->
    <script th:src="@{/shoppingPage/mail/jqBootstrapValidation.min.js}"></script>
    <script th:src="@{/shoppingPage/mail/contact.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/shoppingPage/js/main.js}"></script>
</body>

</html>