<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments_Shop::header"/>

<body>
<!-- Topbar Start -->
<div th:replace="fragments_Shop::topbar"/>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
        <h6 class="m-0">Categories</h6>
        <i class="fa fa-angle-down text-dark"></i>
      </a>
      <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
        <div th:replace="fragments_Shop::display_Category"/>
      </nav>
    </div>
    <div class="col-lg-9">
      <div th:replace="fragments_Shop::Taskbar"/>
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 410px;">
            <img class="img-fluid" th:src="@{/shoppingPage/img/carousel-1.jpg}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" th:src="@{/shoppingPage/img/carousel-2.jpg}" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
          <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
          </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
          <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Navbar End -->


<!-- Featured Start -->
<div th:replace="fragments_Shop::feature"/>
<!-- Products Start -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
  </div>
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1" th:each="product : ${productList}">
      <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
          <img class="img-fluid w-100" th:src = "@{'/image/' + ${product.id}}" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <div class="text-truncate mb-3" th:text="${product.name}"/>
          <div class="d-flex justify-content-center">
            <h6 th:text="${product.price - 3}"/><h6 class="text-muted ml-2"><del><div th:text="'$' + ${product.price}"/></del></h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
  <!--        <nav>-->
  <!--            <ul class="pagination">-->
  <!--                <li th:if = "${currentPage != 0}" class="page-item">-->
  <!--                    <a th:href="@{'/homePage/' + ${currentPage - 1}}" class="page-link" href="#">Previous</a>-->
  <!--                </li>-->
  <!--                <li th:each = "i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">-->
  <!--                    <a th:href="@{'/homePage/' + ${i - 1}}" class="page-link" href="#"><span th:text = "${i}"></span></a>-->
  <!--                </li>-->
  <!--                <li th:if = "${currentPage + 1 != totalPages}" class="page-item">-->
  <!--                    <a th:href="@{'/homePage/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>-->
  <!--                </li>-->
  <!--            </ul>-->
  <!--        </nav>-->
</div>

<!-- Products End -->


<!-- Vendor Start -->
<div th:replace="fragments_Shop::vendor"/>
<!-- Vendor End -->


<!-- Footer Start -->
<div th:replace="fragments_Shop::footer"/>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<div th:replace="fragments_Shop::script"/>
</body>

</html>